.Title {
	flex-direction: "row";
	display: flex;
	margin-left: 10px;
}

.TextField {
	text-align: left;
	height: 200px;
	width: 500px;
	border-style: solid;
	border-width: 2px;
	margin-left: 20px;
	padding-left: 10px;
}

.CreatedBy {
	padding-top: 15px;
	margin-left: 5px;
}

.EntriesTable,
.AssetsTable {
	width: 80%;
}

.Table {
	margin-left: 20px;
}
